
.previewContainer {
	padding: 0.5em;
	line-height: 1.5em;
	float: left;
	height: 20em;
	width: 16em;
	margin: 1em 1.2em;
}

.pictureBox {
	height: 8em;
	margin: 1em auto;
	background-color: #444;
	border-radius: 50%;
	color: #FFF;
	display: block;
	box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.4);
}