.newPlantForm {
  margin: auto;
  margin-bottom: 2em;
  padding: 3em 4em;
  width: 85%;
  input, textarea {
    width: 100%;
  }
}

.dropdown-menu {
  z-index: 1;
}

@media (min-width: 720px) {
  .newPlantForm {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .newPlantForm {
    width: 65%;
  }
}
