$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import url(http://fonts.googleapis.com/css?family=Lato|Antic+Slab|Titillium+Web|Raleway);/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Font classes

*{
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  font-family: 'Antic Slab', serif;
}

// NAVBAR COLOR BLOCK
// for modifying the bootstrap navbar color

$bgDefault      : #57c032;
$bgHighlight    : #459929;
$colDefault     : #ffffff;
$colHighlight   : #bffcc1;
$bgGradient     : linear-gradient(hsl(110, 50%, 50%), hsl(110,50%, 48%));

.navbar-default {
  z-index: 1001;
  background-color: $bgDefault;
  border-color: $bgHighlight;
  background-image: $bgGradient;
  box-shadow: 0px 2px 3px -3px black;
  .navbar-brand {
    color: $colDefault;
    font-family: 'Antic Slab', serif;
    letter-spacing: 2px;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}


// Styling for cards

.card {
  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.4);
  background-color: hsl(0, 0%, 100%);
  border-radius: 2px;
  input[type=text], input[type=number], textarea, select {
    margin: .75em 0;
  }
}

.buttonBox {
  margin: 2em 0 0;
}

// General styling for all buttons, should update to separate the button structure
// and color schemes for each button.
.button {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  font-size: 1.1em;
  padding: 1em 2.5em;
  display: inline-block;
  border: 0;
  background: linear-gradient(hsl(110, 50%, 50%), hsl(110,50%, 45%));
  border-bottom: 1px solid hsl(110, 60%, 25%);
  border-radius:.2em;
  box-shadow: 0px 2px 3px -3px black;

  &:hover {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    background: linear-gradient(hsl(110, 50%, 45%), hsl(110,50%, 40%));
  }

  &:active {
    background: linear-gradient(hsl(110, 60%, 30%), hsl(110, 60%, 25%));
    box-shadow: 0 0 0 0 black;
  }

  &:focus {
    outline: 0;
  }

}

.button.save {
  font-size: 1.33em;
  padding: .3em 2em .1em;
  float: right;
}


// Float buttons are absolutely positioned make sure to nest
// inside of a relatively positioned element
.floatButton {
  position: absolute;
  bottom: 8%;
  right: 8%;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  font-size: 2.5em;
  display: inline-block;
  border: 0;
  background: linear-gradient(hsl(110, 50%, 50%), hsl(110,50%, 45%));
  border-bottom: 1px solid hsl(110, 60%, 25%);
  border-radius:50%;
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.8);

  &:hover {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    background: linear-gradient(hsl(110, 50%, 45%), hsl(110,50%, 40%));
  }

  &:active {
    background: linear-gradient(hsl(110, 60%, 30%), hsl(110, 60%, 25%));
    box-shadow: 0 0 0 0 black;
  }

  &:focus {
    outline: 0;
  }

}

// Different padding for the different glyphicons because they are sized differently

.floatButton.edit, .floatButton.save {
  bottom: 5%;
  right: 10%;
}

.floatButton.edit, .floatButton.save {
  padding: .5em .66em .3em;
}

.floatButton.plus {
  padding: .5em .64em .3em .7em;
}

//Flat Button Styles

.flatButton {
  font-size: 1.3em;
  transition: color 0.1s ease-out,
              box-shadow 0.3s ease-out;
  border: 0px solid hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 60%, 60%);
  text-transform: uppercase;
  margin: 0 .5em 0 0;
  border-radius: .2em;
  padding: .3em .9em;
  outline-color: hsl(110, 50%, 50%);
  &:hover {
    color: hsl(0, 100%, 60%);
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);
  }
  &:active {
    color: hsl(0, 80%, 40%);
  }
}
// Green highlight for input boxes

input[type=text], input[type=password], input[type=number], textarea {
  padding: 0.5em;
  border: 1px solid hsl(110, 0%, 80%);
  border-radius: 2px;
  box-shadow: 0px 1px 2px -1px hsla(0, 0%, 0%, 0.5) inset;
  &:focus {
    outline-color: hsl(110, 50%, 50%);
  }
}

.profileDetails {
  font-size: 1.1em;
  margin-left: .5em;
  h3, h4, label {
    margin-left: -.5em;
  }
}

// Single profile view

.singleProfile{
  position: relative;
  padding: 3em 15%;
  margin: auto;
  margin-bottom: 2em;
  width: 80%;

  ul {
    list-style-type: none;
    padding: 0;
  }

  label {
    display:block;
  }

}

// Max width input areas

.modal, .singleProfile {
  input[type=text], input[type=number], textarea {
    width: 100%;
    max-width: 100%;
  }
}

.singleProfilePhoto {
  width: 16em;
  height: 16em;
  margin: auto;
  border-radius: 0.3em;
  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.4);
  display: block;
  transition: opacity 0.35s;
}

.imageDiv {
  position: relative;
  cursor: pointer;
  width: 16em;
  height: 16em;
  margin: 1em auto;
  border-radius: 0.3em;
  color:white;
  background-color: hsl(110, 50%, 20%);
  transition: all 0.35s;
  h3 {
    font-size: 1.2em;
    position:absolute;
    top: 52%;
    left: 34%;
    transition: all 0.35s;
    opacity: 0;
  }
  &:hover {
    img {
      opacity: 0.6;
    }
    h3 {
      transform: translateY(-2em);
      opacity: 1;
    }
  }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'calendar/calendar.scss';
@import 'main/main.scss';
@import 'myProfile/myProfile.scss';
@import 'newPlant/newPlant.scss';
@import 'plant/editPlant/editPlant.scss';
@import 'search/search.scss';
@import 'trellis/profilePreview/profilePreview.scss';
@import 'trellis/trellis.scss';
@import 'trellis/trellisReminder/trellisReminder.scss';
// endinjector