$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import url(http://fonts.googleapis.com/css?family=Lato|Antic+Slab|Titillium+Web|Raleway);/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Font classes

* {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Antic Slab', serif;
}

// NAVBAR COLOR BLOCK
// for modifying the bootstrap navbar color

$bgDefault      : #57c032;
$bgHighlight    : #459929;
$colDefault     : #ffffff;
$colHighlight   : #bffcc1;
$bgGradient     : linear-gradient(hsl(110, 50%, 50%), hsl(110,50%, 48%));

.navbar-default {
  z-index: 1001;
  background-color: $bgDefault;
  border-color: $bgHighlight;
  background-image: $bgGradient;
  box-shadow: 0px 2px 3px -3px black;
  .navbar-brand {
    color: $colDefault;
    font-family: 'Antic Slab', serif;
    letter-spacing: 2px;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

// Styling for cards

.card {
  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.4);
  background-color: hsl(0, 0%, 100%);
  border-radius: 2px;
  input[type=text],
  input[type=number],
  textarea,
  select {
    margin: .75em 0;
  }
  hr {
    width: 80%;
    border-top: 2px solid hsl(0, 0%, 50%);
  }
}

.buttonBox {
  margin: 2em 0 0;
}

// Green highlight for input boxes

input[type=text],
input[type=password],
input[type=number],
input[type=email],
textarea {
  padding: 0.5em;
  border: 1px solid hsl(110, 0%, 80%);
  border-radius: 2px;
  box-shadow: 0px 1px 2px -1px hsla(0, 0%, 0%, 0.5) inset;
  &:focus {
    outline-color: hsl(110, 50%, 50%);
  }
}

.btn.btn-default {
  &:focus {
    outline-color: hsl(110, 50%, 50%);
  }
}

.profileDetails {
  font-size: 1.1em;
  margin-left: .5em;
  h3, h4, label {
    margin-left: -.5em;
  }
}

// Single profile view

.singleProfile{
  position: relative;
  padding: 3em 15%;
  margin: auto;
  margin-bottom: 2em;
  width: 80%;
  label {
    display:block;
  }
}

.singleProfile,
.newPlantForm {
  ul {
    list-style-type: none;
    padding: 0;
  }
}

// Max width input areas

.modal,
.singleProfile,
.form {
  input[type=text],
  input[type=password],
  input[type=number],
  input[type=email],
  textarea {
    width: 100%;
    max-width: 100%;
  }
}

.singleProfile-photo {
  width: 16em;
  height: 16em;
  margin: auto;
  border-radius: 0.3em;
  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.4);
  display: block;
  transition: opacity 0.35s;
}

.photoContainer {
  position: relative;
  cursor: pointer;
  width: 16em;
  height: 16em;
  margin: 1em auto;
  border-radius: 0.3em;
  color:white;
  background-color: hsl(110, 50%, 20%);
  transition: all 0.35s;
  h3 {
    font-size: 1.2em;
    position:absolute;
    top: 52%;
    left: 34%;
    transition: all 0.35s;
    opacity: 0;
  }
  &:hover {
    img {
      opacity: 0.6;
    }
    h3 {
      transform: translateY(-2em);
      opacity: 1;
    }
  }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'calendar/calendar.scss';
@import 'main/main.scss';
@import 'myProfile/myProfile.scss';
@import 'newPlant/newPlant.scss';
@import 'plant/editPlant/editPlant.scss';
@import 'search/search.scss';
@import 'trellis/profilePreview/profilePreview.scss';
@import 'trellis/trellis.scss';
@import 'trellis/trellisReminder/trellisReminder.scss';
@import 'buttons.scss';
// endinjector
