<div class="col-md-12">
  <h2>Your Profile</h2>
  <div class="searchResult card">
    <img src="http://placekitten.com/g/300/300" alt="" />
    <h2>Name</h2>
    <p>{{me.name}}</p>
    <h2>Email</h2>
    <p>{{me.email}}</p>
    <h2>Education</h2>
    <ul>
      <li ng-repeat="school in me.education">
        <h5>{{school.level}}</h5>
        <p>{{school.name}}</p>
      </li>
    </ul>
    <h2>Family</h2>
    <ul>
      <li ng-repeat="member in me.family">
        <h5>{{member.name}}</h5>
        <p>{{member.relation}}</p>    
      </li>
    </ul>
    <h2>Interests</h2>
    <ul>
      <li ng-repeat="interest in me.interests">
        <p>{{interest.type}}</p>
      </li>
    </ul>

    {{me.interests}}

    <br>
    <br>
    <button class="button" ng-click="updateUser()">Update</button>
  </div
  >
</div>
