#banner {
    border-bottom: none;
    margin-top: 3em;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1.2em 0 .5em;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background: hsla(0, 0%, 0%, 0.5);

    a {
      color: hsl(110, 50%, 45%);
      text-decoration: none;
      &:hover {
        color: hsl(110, 50%, 35%);
      }
      &:active {
        color: hsl(110, 50%, 25%);
      }
    }
}

.splash {
  background: url('../../assets/images/trellis_background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin-top: -71px;
  padding-top: 71px;
  color: hsl(0, 0%, 100%);
}