.calendar {
	padding: 2em;

	table {
		width: 100%;
	}

	tr {
		height: 10vh;
	}

	th {
		font-size: 1.15em;
		width: 14vw;
		text-align: center;
	}
}

.changeMonths {
	float: right;
}

.monthYear {
	display: inline-block;
	line-height: 1;
	margin-top: -1em;
}

.modalComps {
	margin-bottom: 1em;
}

.modal {
	.btn-primary {
		background-color: hsl(110, 50%, 50%);
		border: 1px solid hsl(110, 50%, 40%);
	}
}

.calendar td:not(.empty) {
	position:relative;
	text-align: right;
	width: 10%;
	background-color: white;
	border: 2px hsl(0, 0%, 80%) solid;
	span {
		position:absolute;
		top:0;
		right:0;
	}
}
