<div class="col-md-12">
	<div class="card calendar">
		<div class="btn-group changeMonths">
		  <button type="button" class="btn btn-default" ng-click="clndr.setCal(cal.month-1, cal.year)">&#171</button>
		  <button type="button" class="btn btn-default" ng-click="clndr.setCal(cal.month+1, cal.year)">&#187</button>
		</div>
		<h3 class="monthYear">{{months[cal.month]}} {{cal.year}}</h3>
		<table>
			<thead>
				<tr><th ng-repeat="day in days">{{day}}</th></tr>
			</thead>
			<tr ng-repeat="week in cal.weeks">
				<td ng-repeat="date in week track by $index" class="{{date.date}}" data-animation="am-fade-and-scale" data-placement="center">
					<ul>
						<li ng-repeat="event in date.events" ng-show="clndr.checkEvent(date, event.date)" ng-click="clndr.showDateModal(days[week.indexOf(date)], cal.month, date.date, cal.year, event.notes, event.name, event.date)" class="event"></li>
					</ul>
					<span class="date" ng-hide="{{date.date==='empty'}}">{{date.date}}</span>
					<span class="addEvent" ng-hide="{{date.date==='empty'}}" ng-click="clndr.showModal(days[week.indexOf(date)], cal.month, date.date, cal.year)">+</span>
				</td>
			</tr>
		</table>
	</div>
</div>
