<div class="col-md-12">
	<div class="btn-group">
	  <button type="button" class="btn btn-default" ng-click="setCal(cal.month-1, cal.year)">&#171</button>
	  <button type="button" class="btn btn-default" ng-click="setCal(cal.month+1, cal.year)">&#187</button>
	</div>
	<h4>{{months[cal.month]}} {{cal.year}}</h4>
	<table>
		<thead>
			<tr><th ng-repeat="day in days">{{day}}</th></tr>
		</thead>
		<tr ng-repeat="week in cal.weeks">
			<td ng-repeat="date in week track by $index" data-animation="am-fade-and-scale" data-placement="center" ng-click="showModal(days[week.indexOf(date)], cal.month + 1, date, cal.year)">{{date}}</td>
		</tr>
	</table>
</div>
