.calendar {
	padding: 2em;

	table {
		width: 100%;
	}

	tr {
		height: 10vh;
	}

	th {
		font-size: 1.15em;
		width: 14vw;
		text-align: center;
	}
}

.changeMonths {
	float: right;
}

.monthYear {
	display: inline-block;
	line-height: 1;
	margin-top: -1em;
}

.modalComps {
	margin-bottom: 1em;
}

input[name='time']{
	width: 25%;
	margin-left: .4em;
}

input[name='name']{
	width: 50%;
}

textarea[name='notes']{
	display: block;
	width: 100%;
}

.modal {
	.btn-primary {
		background-color: hsl(110, 50%, 50%);
		border: 1px solid hsl(110, 50%, 40%);
	}
}

.calendar td:not(.empty) {
	position:relative;
	text-align: right;
	width: 10%;
	background-color: white;
	border: 2px hsl(0, 0%, 80%) solid;
	.date {
		position:absolute;
		top:0;
		right:0;
		margin: 0 .1em 0 0;
	}
	.event{
		display: inline-block;
		position: relative;
		background-color: rgb(0,153,255);
		border-radius: 50%;
		height: 1em;
		width: 1em;
		margin: .5em;
	}
	.addEventButton {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 1.25em;
		font-weight: bold;
		margin: 0 .1em -.2em 0;
	}
	.addEventButton:hover{
		cursor: pointer;
	}
}
