<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <div class="modal-body">
        <div class="modalComps">
          <label for="name">Name</label>
          <input type="text" ng-model="name" name="name">
        </div>
        <div class="modalComps">
          <label for="time">Time</label>
          <input type="text" ng-model="time" name="time" bs-timepicker>
        </div>
        <div class="modalComps">
          <label for="notes">Notes</label>
          <textarea ng-model="notes" name="notes"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="button button--save" ng-click="clndr.setReminder(modalData.year, modalData.month, modalData.date, notes, name); $hide()"><span class="glyphicon glyphicon-ok-sign"></span></button>
      </div>
    </div>
  </div>
</div>
