<div class="col-md-12">
	<form novalidate class="editPlantForm" name="form">
		<div class="card singleProfile">
			<button type="button" class="btn btn-default" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-fade" data-all-none-buttons="1" ng-options="icon.value as icon.label for icon in icons" placeholder="Choose field" bs-select>
				Action <span class="caret"></span>
			</button>
			<!-- NAME -->
			<div class="name">
				<h2>
					<input type="text" ng-model="editPlant.name" name="name"/>
				</h2>
			</div>
			<!-- IMAGE -->
			<div class="photoContainer" ng-click="epc.uploadImage()">
				<img ng-src="{{editPlant.picture}}" alt="Profile Picture" class="singleProfile-photo" />
				<h3>UPLOAD<span class="glyphicon glyphicon-pencil"></span></h3>
			</div>
			<!-- EMAIL -->
			<div class="email">
				<label for="name">Email: </label>
				<input type="text" ng-model="editPlant.email" name="email">
			</div>
			<!-- PHONE -->
			<div class="phone" ng-if="epc.show('phone')">
				<label for="name">Phone: </label>
				<input type="text" ng-model="editPlant.phone" name="phone" placeholder="555-555-5555">
			</div>
			<!-- AGE -->
			<div class="age" ng-if="epc.show('age')">
				<label for="name">Age: </label>
				<input type="text" ng-model="editPlant.age" name="age" placeholder="18">
			</div>
			<!-- RELATIONSHIP -->
			<div class="relationship" ng-if="epc.show('relationship')">
				<label>Relationship: </label>
				<input type="text" ng-model="editPlant.relationship.partner" placeholder="Cousin">
			</div>
			<!-- FAMILY -->
			<div class="family" ng-if="epc.show('family')">
				<label for="name">Family: </label>
				<div ng-repeat="member in editPlant.family track by $index">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Name:&nbsp;</label><input type="text" ng-model="member.name" name="memberName" placeholder="James">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Relation:&nbsp;</label><input type="text" ng-model="member.relation" name="memberRelation" placeholder="Brother">
				</div>

				<button class="button button--edit" ng-click="epc.addField('family')"> + </button>
				<button class="button button--delete" ng-click="epc.deleteField('family')"> - </button>

			</div>
			<!-- HOMETOWN -->
			<div class="hometown" ng-if="epc.show('hometown')">
				<label for="name">Hometown: </label>
				<input type="text" ng-model="editPlant.hometown" name="hometown" placeholder="Guam">
			</div>
			<!-- CURRENT CITY -->
			<div class="currentCity" ng-if="epc.show('currentCity')">
				<label for="name">Current City: </label>
				<input type="text" ng-model="editPlant.currentCity" name="currentCity" placeholder="New York City">
			</div>
			<!-- EMPLOYER -->
			<div class="employer" ng-if="epc.show('employer')">
				<label for="name">Employer: </label>
				<input type="text" ng-model="editPlant.employer" name="employer" placeholder="Dunder Mifflin">
			</div>
			<!-- PROJECTS -->
			<div class="projects" ng-if="epc.show('projects')">
				<label for="name">Projects: </label>
				<div ng-repeat="project in editPlant.projects track by $index">
					<input type="text" ng-model="project.name" name="projects" placeholder="Name">
					<div>
						<input type="text" ng-model="project.type" name="projects" placeholder="Type">
						<input type="text" ng-model="project.description" name="projects" placeholder="Description">
						<input type="text" ng-model="project.link" name="projects" placeholder="Link">
					</div>

				</div>
				<button class="button button--edit" ng-click="epc.addField('projects')"> + </button>
				<button class="button button--delete" ng-click="epc.deleteField('projects')"> - </button>

			</div>
			<!-- EDUCATION -->
			<ul ng-if="epc.show('education')">
				<label>Education:</label>
				<li ng-repeat="school in editPlant.education track by $index" ng-init="edIndex = $index">
					<!-- Education select boxes -->
					<label for="levelSelect">Level:</label>
					<select ng-model="school.level" name="levelSelect">
						<option ng-repeat="level in edLevel" value="{{level}}" label='{{level[0] | uppercase }}{{level.slice(1)}}'></option>
					</select>
					<div ng-show="epc.showBox(school.level)" class='profileDetails'>
						<input ng-model="school.level" type="text" name="customLevel" placeholder="Boating School">
					</div>
					<div class='profileDetails'>
						<label>School Name:</label>
						<input type="text" ng-model="school.name" placeholder="Test University">
					</div>
				</li>
				<button class="button button--edit" ng-click="epc.addField( 'education', $index )">+</button>
				<button class="button button--delete" ng-click="epc.deleteField('education')"> - </button>
			</ul>
			<!-- INTERESTS -->
			<div class="interests" ng-if="epc.show('interests')">
				<label for="name">Interests: </label>
				<div ng-repeat="interest in editPlant.interests track by $index" ng-init="outer=$index">
					<input type="text" ng-model="interest.type" name="interests">
					<span ng-repeat="tag in interest.tags track by $index" ng-init="inner = $index">
						<input type="text" ng-model="interest.tags[inner]" name="tags" placeholder="tag">
					</span>

					<button class="button button--edit" ng-click="epc.addField('tags', outer)"> +tag </button>
					<button class="button button--delete" ng-click="epc.deleteField('tags', outer)"> - </button>

				</div>
				<button class="button button--edit" ng-click="epc.addField('interests')"> + </button>
				<button class="button button--delete" ng-click="epc.deleteField('interests')"> - </button>

			</div>
			<!-- IMPORTANT DATES -->
			<div class="importantDates" ng-if="epc.show('importantDates')">
				<label for="name">Important Dates: </label>
				<div ng-repeat="date in editPlant.importantDates">
					<input type="text" ng-model="date.eventName" name="importantDates" placeholder="e.g. Graduation Party!">
					<input type="date" ng-model="date.date">
					<input type="text" ng-model="date.description" placeholder="Graduation!">
				</div>

				<button class="button button--edit" ng-click="epc.addField('importantDates')"> + </button>
				<button class="button button--delete" ng-click="epc.deleteField('importantDates')"> - </button>

			</div>
			<!-- NOTES -->
			<div class="notes" ng-if="epc.show('notes')">
				<label for="name">Notes: </label>
				<textarea type="text" ng-model="editPlant.notes.body" name="notes" placeholder="This person loves fondue"></textarea>
			</div>
			<!-- REMINDERS -->
			<div class="reminders" ng-if="epc.show('reminders')">
				<label for="name">Reminders: </label>
				<span ng-repeat="reminder in editPlant.reminders track by $index">
					<input type="text" class="reminders" ng-model="editPlant.reminders[$index]" placeholder="Remember to check in about his audition">
				</span>

				<button class="button button--edit" ng-click="epc.addField('reminders')"> + </button>
				<button class="button button--delete" ng-click="epc.deleteField('reminders')"> - </button>
			</div>
			<div class="buttonBox">
				<button class="flatButton" ui-sref="trellis.plants">Cancel</button>
				<button class="flatButton" ng-click="epc.update('reset')">Undo</button>
				<span class="updated" ng-if="epc.show()">
					<i class="fa fa-floppy-o"></i>
					<i class="fa fa-check"></i>
				</span>
				<button class="button button--save" ng-click="epc.update('save')"><span class="glyphicon glyphicon-ok-sign"></span></button>
			</div>
		</div>
	</form>
</div>
