.reminderBox {
	height: 6.5em;
	width: 85%;
	margin: 1em auto;
	padding: 0.5em;

	.reminderPlantName {
		text-decoration: underline;
	}

	.reminderReminder {
		margin-left: 1em;
	}

	.reminderEvent {
		margin-left: 1em;
	}

	.reminderDate {
		margin-left: 1em;
	}

	.reminderTimer {
		margin-lefT: 4em;
	}
}




