
<div class="searchWindow col-md-12 col-xs-12">
	<div class="searchResult card">
		<img class="pictureBox" src="http://placekitten.com/g/300/300">
		<h2 class="name">{{user.name}}</h2>
		<div class="userId">{{user._id}}</div>
		<div class="reminder">{{user.reminder}}</div>
		<div class="age">{{user.age}}</div>
		<div class="phone">{{user.phone}}</div>
		<div class="email">{{user.email}}</div>
		<div class="important">*IMPORTANT*</div>
		<button class="cloneButton button" ng-if="!noClone" ng-click="clone()">Clone</button>
	</div>
</div>
