.searchWindow {
  height: 100vh;
  margin-top: -71px;
  padding-top: 71px;
  background-color: hsl(0, 0%, 95%);
}

.searchResult {
  margin: auto;
  padding: 3em 4em;
  width: 45%;
}

.cloneButton {
  font-size: 1em;
  margin-top: 1.5em;
}