/**** FRAME ****/

.sidebar, .window {
	height: 100vh;
	margin-top: -71px;
	padding-top: 71px;
	background-color: hsl(0, 0%, 95%);
	overflow: auto;
}

.sidebar {
	position: absolute;
	width: 18%;
	border-right: 2px inset #434343;

	.searchBox {

		margin: 1em auto;

		input {
			margin: none;
			padding: 0 0.2em;
		}

		.submitBtn {
			width: 2em;
			border: 1px solid #30D825;
			border-radius: 0 5px 5px 0;
			background-color: #30D825;
		}
	}
}

.window {
	margin-left: 18%;
	width: 82%;
}


/**** INSIDE WINDOW ****/

.card {
	box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.4);
	background-color: hsl(0, 0%, 100%);
	border-radius: 2px;
}