<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-md-12 sidebar">
	<form class="searchBox">
		<input type="text" ng-model="emailOrPhone" placeholder="Search for user"/>
		<button class="submitBtn " ng-click="search(emailOrPhone)"> + </button>
	</form>
		<!-- This element can be seen in the sidebar under the input box -->
		<trellis-reminder ng-repeat="numbers in urgent"></trellis-reminder>
</div>


<div class="col-md-12 window">
		<!-- This is the element that you can see repeated (ng-repeat) in the large window underneath the navbar -->
		<!-- it is repeated as many times as there are items in $scope.test (located on the trellis.controller) -->
		<profile-preview ng-repeat="plant in plants"></profile-preview>
</div>
