<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-md-12 sidebar">
	<form class="searchBox">
		<input type="text" ng-model="emailOrPhone" placeholder="Search for user"/>
		<button class="submitBtn " ng-click="search(emailOrPhone)"> + </button>
	</form>
	<div class="upcomingEvents" ng-repeat="numbers in urgent">
		<!-- This element can be seen in the sidebar under the input box -->
		<trellis-reminder></trellis-reminder>
	</div>
</div>


<div class="col-md-12 window">
	<div ui-view=""></div>
</div>
